{% extends 'base.html' %}
{% block title %}- List {% endblock %}

{% block content %}
    {% for post in photos %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <!-- model 인스턴스 post중 photo 필드에 url을 가져와라 -->
                <p><img src= "{{post.photo.url}}" style="width: 100%;"></p>
                <button type="button" class="btn btn-xs btn-info">
                    {{post.author.username}}
                </button>
                <!-- | 템플릿 필터  -->
                <!-- 줄바꿈 문자를 br테그로 바꿔라 -->
                <p>{{post.text|linebreaksbr}}</p>
                <p class="text-right">
                    <a href="{% url 'photo:photo_detail' pk=post.id %}" class="btn btn-xs btn-success">댓글</a>
                </p>
            </div>
            <div class="col-md-2"></div>

        </div>
    {% endfor %}
{% endblock %}